body, html, #container {
  font-family: 'Bitter', serif;
}
#navbar {
  /*top bar, says TutorDex on the left */
  overflow: hidden;
  background-color: #333;
}
#navbar a {
  /*TutorDex (navbar) */
  float: left;
  font-size: 20px;
  color: #8AE8A1;
  padding: 20px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
}
#container {
  /* contains top and bottom id, don't change */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.columns {
  /*list restrictor*/
  column-width: 300px;
}

#top {
  /* top half of the page, includes navbar, input, select, and top button */
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #4A4A4A;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#subject-name {
  /* JAVASCRIPT */
  color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
#search-box input {
  /*search box */
  width: 450px;
  padding: 10px;
  font-family: 'Bitter', serif;
}
#search-box input[type="text"] {
  /* what the user types in the search box */
  font-family: 'Bitter', serif;
  font-size: 15px;
}
#search-box input-placeholder {
  /*  placeholder for the search box */
  color: #90EE90;
  font-family: 'Bitter', serif;
}
#ask-us button {
  /* "ASK US" button */
  background-color: #8AE8A1;
  border-radius: 6px;
  border-style: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  margin-top: 20px;
}
#top-middle {
  /* top half of the middle portion of the whole subject page, includes top questions  */
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#question-header {
  /* top questions header */
  color: #4A4A4A;
  text-align: left;
}
#top-questions {
  /* list container */
  width: 100%;
  text-align: left;
  margin: 0px auto;
}

#top-questions li {
  /* questions list items */
  padding-bottom: 20px;
}
#top-questions ul {
  /* questions list */
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#top-questions a {
  /* question href */
  text-decoration: none;
  color: #696969
}
#bottom-middle {
  /* top tutors */
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#tutors-header {
  /* top tutors header */
  color: #4A4A4A;
  text-align: left;
  margin-right: auto;
}
/*https://codepen.io/ThiefMaster/pen/afGbB*/ 
#top-tutors {
  /* list container */
  width: 100%;
  text-align: left;
  margin: 0px auto;
}
#top-tutors ul {
  /*  top tutors list */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#top-tutors li {
  /* top tutors list item */
  padding-bottom: 10px;
}
.flex-container {
  /* flex container for tutors */
  display: -webkit-flex;
  display: flex;
  background-color: #EDEDED;
  color: #838383; 
}
.flex-container p {
  /* top tutor names */
  margin-left: 10px;
}
.flex-item {
  /* points box */
  background-color: #8AE8A1;
  color: white;
  width: 40%;
  margin-left: auto;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.flex-item h1 {
  /* points */
  font-size: 10px;
  text-align: center;
}
.flex-item h2 {
  /* points number */
  font-size: 16px;
  margin-top: -8px;
  text-align: center;
}

#bottom {
  /* top subjects */
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#bottom h1 {
  /* top subjects header */
  color: #4A4A4A;
  text-align: left;
  margin-right: auto;
}
#subjects {
  /*list container */
  width: 100%;
  text-align: left;
  margin: 0px auto;
  padding-bottom: 5%;
}
#subjects li {
  /* subjects list item */
  color: #696969;
  padding: 10px;
  width: 200px;
  text-align: left;
}
#subjects a {
  /* subjects item href */
  text-decoration: none;
}
#subjects ul {
  /* subjects list */
  margin: 0;
  padding: 0;
  list-style-type: none;
}


@media only screen and (max-width: 1200px) {
    #top-tutors .columns {
        column-width: 500px;
    }
}

@media only screen and (max-width: 500px) {
  #search-box input {
    width: 300px;
  }

@media only screen and (max-width: 800px) { 
    #subjects-header {
      font-size: 8px;
    }
    #bottom {
        background-color: lightblue;
        width: 100%;
    }
    #subjects {
      font-size: 12px;
    }
}
*/

@media only screen and (max-width: 320px) {
  #search-box input {
    width: 225px;
  }
