/*COLORS
 Dark Gray: #4A4A4A
 Light Gray: #EDEDED
 Green: #8AE8A1
 */
/*FONTS 
Logo: font-family: 'Exo', sans-serif;
Headings: font-family: 'Raleway', sans-serif;
Body: font-family: 'Bitter', serif;
*/ 
header{
   background-color: #4A4A4A;   
   color:#8AE8A1;
   font-size: 50px;
   font-family: 'Exo', sans-serif;
   padding: 20px 20px; 
  }

html,body {
   padding:0;
   margin:0;
   height:100%;
}

.ques-and-title-container{
		display: flex;
		justify-content: space-around;
		height: 210px;
		background-color: #4A4A4A;
}
 .question-header{
    background-color:transparent;
		color: white;
    padding:60px 0px 138px 0px;
		font-size: 15px;
    font-family: 'Raleway', sans-serif;
  }
  .question{
	 display: flex;
	 align-self: center;
   font-size: 25px;
   color: white;
   font-family: 'Raleway', sans-serif;
  }
.asker-info-container{
		display: flex;
		align-self: flex-end;
		
}
  .asker-info{
   display: flex;
	 align-self: flex-end;
   padding:1px 0px 1px 0px;
   color:white; 
  }
.asker-info li{
		padding: 10px;
}
li{
		list-style: none;
		font-family: 'Bitter', serif;
}
  .answer-header{
		padding-left: 129px;
		font-size: 15px;
		font-family: 'Raleway', sans-serif;
  }

  .answer-and-nav-container{
    display: flex;
    flex-direction: row;
		background-color: antiquewhite;
		height: 900px;
  }
.answer-container{
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		height: 500px;
		width:300px;
		padding-top: 90px;
}
.answer{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 10o0px;
		height: 200px;
		padding: 10px;
		background-color: aliceblue;
}

.point-distribution{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		width: 60px;
}
.remove-points{
		margin-left: -12%;
		background-color: transparent;
		border: transparent;
		width: 10px;
}

.points{
		height: 60px;
		width: 60px;
		border-radius:100px;
		border: transparent;
}

  .individual-answer{
   display: flex;
   flex-direction: column;
   padding: 10px 2px 70px 30px;
   height: 100px;
	 width: 670px;
   background-color:;
   font-size:18px;
   font-family: 'Bitter', serif;
  }
	.answerer-info{
		display: flex;
		flex-direction: row;
		align-items: flex-end;
}
.answerer-info{
}
.answerer-info li{
		padding-right:10px;
}

.related-things{
		display: flex;
		flex-direction: column;
		align-self:baseline;
    background-color:#4A4A4A;
    width:260px;
    height: 370px;
    padding: 10px 10px;
    color:white; 
}
  .related-things h2{
		 text-align: center;
     font-size:16px;
		 font-family: 'Raleway', sans-serif;
  }
	
.related-questions li, .related-topics li{
		display: flex;
		flex-direction: column;
		padding: 5px;
}

 .submission-section{
    display: flex;
		align-self: flex-end;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
    background-color: red;
    height: 220px;
		width: 604px;
		padding: 10px 10px;
}

input{
		height: 150px;
		width: 600px;
}

.submit-button{
		display: flex;
		align-self: flex-end;
    background-color:#8AE8A1;
		border: transparent;
    color: white;
    height: 50px;
    padding: 10px 10px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.name{
		color: green;
}

.related-questions li a:hover { 
  color: #8AE8A1;
}
.related-topics li a:hover { 
  color: #8AE8A1;
}

.asker-info, .answerer-info{
    font-family: 'Bitter', serif;
 }
 
 .related-questions a , .related-topics a{
    color:white;
    font-family: 'Bitter', serif;
  }

/*QUESTIONS PAGE*/

  /*.question-header{
   /*background-color:#4A4A4A;*/
   
   /*padding: 20px 11%;
   margin-top: 0%;
   color: #8AE8A1;
   height:200px;
   padding:20px 11%;
   margin-top:0%;*/
  }
 
  /*.ques-and-title-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    background-color: red;
  }*/

  /*.question-header h3{
   display: flex;
   justify-content: flex-start;
   background-color: powderblue;
  }

  .question-header{
    margin-top: 0%;
    background-color:#4A4A4A;
    padding:40px 15px 150px 130px;
    color: #8AE8A1;
    font-family: 'Raleway', sans-serif;
  }
  
  .question h2{
    padding-top: 13%;
  }
  .question{
   display: flex;
   justify-content: center;
  }

  .question{
   font-size: 25px;
   color: white;
   font-family: 'Raleway', sans-serif;
  }

  .asker-info{
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   padding:10px 1px 10px 0px;
   color:white; 
  }
  .asker-info{
    margin-top: -5%;
    padding-left: 30%;
    width: 500px;
  }
  .answer-header{
    display:flex;
    justify-content: flex-start; 
  }

  div .answer-container .individual-answer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px 2px 70px 30px;
   width: 670px;
   background-color:blue;
   font-size:18px;
   font-family: 'Bitter', serif;
  }
  .answerer-info{
    display: flex;
    justify-content: flex-start;
    padding: 10px 11px 12px 7px;
    font-size:18px;
  }
 
 .answerer-info .name{
     color:#8AE8A1;
     padding-right: 20px;
     padding-left: 35px;
 }

 .answer{
  display: flex;
  justify-content: flex-start;
  padding-top: 125px;

 }
  .point-distribution{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    padding: 2px 40px 30px 1px;
    width: 60px;
  }
  .point-distribution{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2px 0px 30px 1px;
    width: 60px;
  }
  .points{
     display: flex;
     justify-content: flex-start;
     background-color:#8AE8A1;
     height: 60px;
     width: 60px;
     border-radius: 500px;
  }

  .remove-points{
    padding: 0px;
    background-color: transparent;
    width: 70px;
  }
 
  .related-things h2{
     font-size:21px;
     font-size:20px;
     margin-left: 12px
     
  }
  
  div .related-things{
     display: flex;
     justify-content: space-between;
     justify-content: flex-end;
     background-color:#4A4A4A;
     width:250px;
     height: auto;
     padding: 10px 10px 10px;
     color:white; 
  }

 a{
     color: #EDEDED;
   }

   li a:hover {
    color: #8AE8A1;
}

 .related-things h2, .answer-header, .question-header{
    font-family: 'Raleway', sans-serif;
 }

 .asker-info, .answerer-info{
    font-family: 'Bitter', serif;
 }
 
 .related-questions , .related-topics{
    color:white;
    font-family: 'Bitter', serif;
  }
{
    margin-top: -25%;
}


.answer-header{
    margin-left: 11%;
    margin-top: 90px;
    font-family: 'Raleway', sans-serif;
}

/*.individual-answer{
    background-color:#EDEDED;
    margin-left: 23%;
    font-size:18px;
    font-family: 'Bitter', serif;*/
}
/*p a{
    color: #8AE8A1;
}
.answerer-info{
    margin-left:21%;
    margin-top:-70px;
    font-size:18px;
    font-family: 'Bitter', serif;
}

.answerer-info .name{
  color:#8AE8A1;
}

/*.points{
    background-color:#8AE8A1;
    height: 60px;
    width: 60px;
    border-radius: 500px;
    margin-left: 60px;
    float:left;
    margin-top: 50px
}*/

/*.related-things h2{
    font-size:20px;
    margin-left: 20px;
    display:inline-block;
    font-family: 'Raleway', sans-serif;
}

.related-things{
    background-color:#4A4A4A;
    width:250px;
    height: auto;
    padding: 10px 10px 10px;
    color:white; 
    margin-top: -47.6%;
}

.related-questions li a, .related-topics li a{
  font-family: 'Bitter', serif;
  color: white;
  text-align: center;
}
.related-questions li a:hover { 
  color: #8AE8A1;
}
.related-topics li a:hover { 
  color: #8AE8A1;
}


li{
    list-style: none;
}



input{
    height: 100px;
    width:670px;
}


*/
/*END OF QUESTION PAGE*/

