/*COLORS
 Dark Gray: #4A4A4A
 Light Gray: #EDEDED
 Green: #8AE8A1
 */
/*FONTS 
Logo: font-family: 'Exo', sans-serif;
Headings: font-family: 'Raleway', sans-serif;
Body: font-family: 'Bitter', serif;
*/ 
header{
   background-color: #4A4A4A;   
   color:#8AE8A1;
   font-size: 50px;
   font-family: 'Exo', sans-serif;
   padding: 20px 20px; 
  }

html,body {
   padding:0;
   margin:0;
   height:100%;
}

.ques-and-title-container{
    display: flex;
    justify-content: space-around;
    height: 210px;
    background-color: #4A4A4A;
}

 .question-header{
    background-color:transparent;
    color: white;
    padding:40px 0px 130px 0px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
  }

  .question{
   display: flex;
   align-self: center;
   font-size: 25px;
   color: white;
   font-family: 'Raleway', sans-serif;
}

.asker-info-container{
    display: flex;
    align-self: flex-end;    
}

  .asker-info{
   display: flex;
   align-self: flex-end;
   padding:150px 0px 1px 0px;
   color:white; 
}
.asker-info li{
    padding: 10px;
}
li{
    list-style: none;
    font-family: 'Bitter', serif;
}
  .answer-header{
    padding-left: 447px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

  .answer-and-nav-container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color:#EDEDED;
    height: 100%;
}
.answer-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 500px;
    width:300px;
    padding-top: 90px;
}
.answer{
    display: flex;
    flex-wrap: wrap;
    width: 2000px;
    height: 400px;
    padding-left: 100px;
    background-color: #EDEDED;
}

.point-distribution{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60px;
}

.remove-points{
    background-color: transparent;
    border: transparent;
    width: 60px;
    font-size: 12px;
}

.point-holder{
    height: 60px;
    width: 60px;
    border-radius:100px;
    border: transparent;
}

   #answer-asker-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 15px;
   height: 200px;
   width: 670px;
   background-color:red;
   font-size:18px;
   font-family: 'Bitter', serif;
}

  .answerer-info{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0px;
}

.answerer-info li{
    padding-right:10px;
}
.related-things-container{
  padding-right: 500px;
}

.related-things{
    display: flex;
    flex-direction: column;
    align-self:baseline;
    background-color:#4A4A4A;
    width:260px;
    height: 385px;
    padding: 10px 10px;
    color:white; 
}
  .related-things h2{
     text-align: center;
     font-size:16px;
     font-family: 'Raleway', sans-serif;
  }
  
.related-questions li, .related-topics li{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

 .submission-section{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border-color: transparent;
    height: 220px;
    width: 604px;
    padding: 10px 10px;
}

input{
    height: 150px;
    width: 600px;
}

.submit-button{
    display: flex;
    align-self: flex-end;
    background-color:#8AE8A1;
    border: transparent;
    color: white;
    height: 40px;
    padding: 10px 10px;
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.name{
    color: #8AE8A1;
}

.related-questions li a:hover { 
  color: #8AE8A1;
}
.related-topics li a:hover { 
  color: #8AE8A1;
}

.asker-info, .answerer-info{
    font-family: 'Bitter', serif;
 }
 
.related-questions a , .related-topics a{
    color:white;
    font-family: 'Bitter', serif;
  }